/**
 *  Color definitions
 */
/**
 *  Breakpoints
 */
/**
 *  Borders
 */
/**
 *  Box Shadows
 */
/**
 *  Layout
 */
/**
 *  Paths
 */
/**
 * Breakpoints
 */
/**
 * Trail Graph View
 */
.view-style-type-trail-graph .view-two-columns {
  display: flex;
  flex-wrap: wrap;
}
.view-style-type-trail-graph .view-two-columns .view-first-column {
  width: 100%;
}
@media (min-width: 64em) {
  .view-style-type-trail-graph .view-two-columns .view-first-column {
    width: 74%;
    margin-right: 1%;
  }
}
.view-style-type-trail-graph .view-two-columns .view-second-column {
  width: 100%;
  margin-top: 30px;
}
@media (min-width: 64em) {
  .view-style-type-trail-graph .view-two-columns .view-second-column {
    width: 25%;
    margin: 0;
  }
}
.view-style-type-trail-graph .view-two-columns .form--inline .form-item {
  float: none;
  display: inline-block;
}
.view-style-type-trail-graph .views-view-trail-graph {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.view-style-type-trail-graph .views-view-trail-graph .vis-network {
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  min-height: 500px;
}
.view-style-type-trail-graph .views-view-trail-graph .vis-network canvas {
  display: block;
}

/**
 *  Sidebar tabs
 */
.views-trail-graph__sidebar__tabs input {
  display: none;
}
.views-trail-graph__sidebar__tabs input.button {
  display: inline-block;
}
.views-trail-graph__sidebar__tabs input:checked + label {
  color: #555555;
  border: 1px solid #DDDDDD;
  border-top: 2px solid orange;
  border-bottom: 1px solid white;
}
.views-trail-graph__sidebar__tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #BBBBBB;
  border: 1px solid transparent;
}
.views-trail-graph__sidebar__tabs label:before {
  font-weight: normal;
  margin-right: 10px;
}
.views-trail-graph__sidebar__tabs label:hover {
  color: #888888;
  cursor: pointer;
}
.views-trail-graph__sidebar__section {
  padding: 20px 0 0;
  border-top: 1px solid #DDDDDD;
}
.views-trail-graph__sidebar__section .views-exposed-form .form--inline .form-item {
  display: block !important;
}

/**
 *  Contextual menu
 */
.trail-graph__contextual-menu {
  display: none;
  position: fixed;
  border: 1px solid #B2B2B2;
  width: 250px;
  background: #F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius: 4px;
  z-index: 1;
}
.trail-graph__contextual-menu ul {
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0 10px 3px 10px;
  font-size: 1rem;
  color: #333333;
}
.trail-graph__contextual-menu ul li:hover {
  border-radius: 2px;
}
.trail-graph__contextual-menu ul li a {
  display: block;
  padding: 3px 3px 3px 10px;
  color: #333333;
  text-decoration: none;
}
.trail-graph__contextual-menu ul li a:hover {
  color: white;
  background: #284570;
}
.trail-graph__contextual-menu hr {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: #e4e4e4;
}

/**
 *  SVG Icons
 *  We are using drupal core icons
 */
.trail-graph--icon--edit {
  background: url("../../images/svg/pencil.svg");
  width: 22px;
  height: 22px;
  background-size: 22px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: text-bottom;
}

/*# sourceMappingURL=styles/css/app.css.map */
