/**
 *  Contextual menu
 */
.trail-graph__contextual-menu {
  display: none;
  position: fixed;
  border: $contextual-menu--border;
  width: 250px;
  background: $alabaster;
  box-shadow: $contextual-menu--box-shadow;
  border-radius: 4px;
  z-index: 1;
  ul {
    list-style: none;
    margin: 4px 0 0 0;
    padding: 0 10px 3px 10px;
    font-size: 1rem;
    color: $mine-shaft;
    li {
      &:hover {
        border-radius: 2px;
      }
      a {
        display: block;
        padding: 3px 3px 3px 10px;
        color: $mine-shaft;
        text-decoration: none;
        &:hover {
          color: $white;
          background: $astronaut;
        }
      }
    }
  }
  hr {
    background-color: $mercury;
    border-color: $mercury;
    color: $mercury;
  }
}
