/**
 *  SVG Icons
 *  We are using drupal core icons
 */
.trail-graph--icon--edit {
  background: url($svg-path + "pencil.svg");
  width: 22px;
  height: 22px;
  background-size: 22px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: text-bottom;
}
