/**
 *  Sidebar tabs
 */
.views-trail-graph__sidebar {
  &__tabs {
    input {
      display: none;
      &.button {
        display: inline-block;
      }
      &:checked + label {
        color: $emperor;
        border: 1px solid $alto;
        border-top: 2px solid orange;
        border-bottom: 1px solid $white;
      }
    }
    label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: $silver;
      border: 1px solid transparent;
      &:before {
        font-weight: normal;
        margin-right: 10px;
      }
      &:hover {
        color: $gray;
        cursor: pointer;
      }
    }
  }
  &__section {
    padding: 20px 0 0;
    border-top: 1px solid $alto;
    .views-exposed-form {
      .form--inline {
        .form-item {
          display: block !important;
        }
      }
    }
  }
}
