{#
/**
 * Default theme implementation for Views to output a TARDIS archive.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - nesting: Whether months should be nested inside years.
 *   - path: Link path. Eg.: example.com/TARDIS/2016/03
 *   - time_pool: Two-dimension array containing years and months with content.
 *
 * @see template_preprocess_views_view_tardis()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
    'views-view-trail-graph',
    options.classes,
]
%}
<div class="trail-graph__content">

    <!--Context menu-->
    <div class="trail-graph__contextual-menu"></div>

    <!-- Trail graph canvas -->
    <div{{ attributes.addClass(classes).setAttribute('id', 'trail-graph-canvas') }}></div>
</div>
