/**
 * Breakpoints
 */
@mixin breakpoint($point) {
  @if $point == $lg {
    @media (min-width: $lg) { @content; }
  }
  @else if $point == $md {
    @media (min-width: $md) { @content; }
  }
  @else if $point == $sm {
    @media (min-width: $sm) { @content; }
  }
}
