/**
 * Trail Graph View
 */
.view-style-type-trail-graph {
  .view-two-columns {
    display: flex;
    flex-wrap: wrap;
    .view-first-column {
      width: 100%;
      @include breakpoint($md) {
        width: $first-col-width;
        margin-right: 1%;
      }
    }
    .view-second-column {
      width: 100%;
      margin-top: 30px;
      @include breakpoint($md) {
        width: $second-col-width;
        margin: 0;
      }
    }
    .form--inline .form-item {
      float: none;
      display: inline-block;
    }
  }

  .views-view-trail-graph {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 500px;
    .vis-network {
      background-color: $wild-sand;
      border: $vis-network--border;
      min-height: 500px;
      canvas {
        display: block;
      }
    }
  }
}
