/**
 *  Color definitions
 */
$wild-sand: #f4f4f4;
$mercury: #e4e4e4;
$mercury-light: #E9E9E9;
$alabaster: #F9F9F9;
$silver-chalice: #B2B2B2;
$mine-shaft: #333333;
$white: white;
$astronaut: #284570;
$alto: #DDDDDD;
$emperor: #555555;
$silver: #BBBBBB;
$gray: #888888;

/**
 *  Breakpoints
 */
$sm: 48em; // 768px
$md: 64em; // 1024px
$lg: 75em; // 1200px

/**
 *  Borders
 */
$vis-network--border: 1px solid $mercury;
$contextual-menu--border: 1px solid $silver-chalice;

/**
 *  Box Shadows
 */
$contextual-menu--box-shadow: 3px 3px 2px $mercury-light;

/**
 *  Layout
 */
$first-col-width: 74%;
$second-col-width: 25%;

/**
 *  Paths
 */
$svg-path: "../../images/svg/";
